@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  background-color: #fdfdfd;
  color: #444;
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8db600;
  margin: 0 0 0.5rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
p,
a,
span,
button,
i {
  margin: 1rem 0;
  font-size: 1.6rem;
}
p.lead {
  color: #777;
  font-size: 2rem;
  margin: 0 0 0.5rem;
}
