@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}
body {
  /* background-color: #fdfdfd; */
  color: #444;
  background: url("../images/glenfinnan-viaduct-tall.jpg") no-repeat center center/cover;
  background-position: fixed;
  background-position-y: -325px;
  width: 100vw;
  height: 100%;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8db600;
  margin: 0 0 0.5rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
p,
a,
span,
button,
i {
  margin: 1rem 0;
  font-size: 1.6rem;
}
p.lead {
  color: #777;
  font-size: 2rem;
  margin: 0 0 0.5rem;
}

.container {
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

.navbar {
  position: relative;
  z-index: 200;
}
.navbar .navbar-navigation {
  background-color: rgba(253, 253, 253, 0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  left: -100vw;
  justify-content: center;
  align-items: center;
  transition: left 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .navbar-navigation .nav-list {
  list-style: none;
  text-align: center;
}
.navbar .navbar-navigation .nav-list .nav-list-item {
  text-decoration: none;
}
.navbar .navbar-navigation .nav-list .nav-list-item a {
  color: #444;
  margin: 7.5rem 0;
  font-size: 2rem;
  text-decoration: none;
  display: block;
}

.header {
  background-color: #fdfdfd;
  padding: 2.5rem 3rem;
  width: 100%;
  position: relative;
  grid-area: header;
  display: grid;
  grid-template-areas: "brand menu admin";
  grid-template-columns: 60% 40%;
  position: fixed;
}
.header .brand a {
  text-decoration: none;
  transition: transform 500ms;
}
.header .hamburger {
  grid-area: menu;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .hamburger .hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  z-index: 300;
}
.header .hamburger .hamburger-menu .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 500ms;
}
.header .hamburger .hamburger-menu .menu .menu-line {
  background-color: #8db600;
  width: 100%;
  height: 0.2rem;
  transform-origin: right;
  transition: all 500ms 500ms;
}
.header .hamburger .hamburger-menu label :checked ~ .navbar .navbar-navigation {
  left: 0;
}
.header .hamburger .hamburger-menu label :checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}
.header .hamburger .hamburger-menu label :checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-45deg);
}
.header .hamburger .hamburger-menu label :checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}
.header .hamburger .hamburger-menu label :checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(45deg);
}
.header .menu {
  display: none;
}
.header .menu ul {
  list-style: none;
}
.header .menu ul li a {
  color: #444;
  text-decoration: none;
}
.header .admin {
  display: none;
}

.content {
  background: #fdfdfd;
  margin-top: 40rem;
  padding: 2.5rem;
  display: grid;
  grid-template-areas:
    "article"
    "button";
  grid-template-rows: minmax(150px, auto) auto;
}
.content .article {
  grid-area: article;
}
.content .article h1 {
  font-size: 2.8rem;
}
.content .button {
  width: 100%;
  grid-area: button;
  display: flex;
  justify-content: center;
}
.content .button .content-btn {
  background: none;
  color: #8db600;
  margin: 1rem 0 0;
  padding: 1.5rem 3rem;
  border: 2px solid #8db600;
  border-radius: 0.5rem;
  transition: 300ms;
}

.side-bar {
  background: #fdfdfd;
  padding: 2.5rem;
}
.side-bar .latest-item {
  color: #fdfdfd;
  display: block;
}
.side-bar .latest-item h2 {
  margin-bottom: 1rem;
}
.side-bar .blog-items {
  display: grid;
  grid-template-rows: calc(100vw - 5rem) calc(100vw - 5rem);
  grid-gap: 2.5rem;
}
.side-bar .blog-items .blog-item {
  height: calc(100vw - 5rem);
  border: 2px solid #8db600;
  border-radius: 1rem;
  box-shadow: -10px 10px 20px rgba(81, 132, 191, 0.2);
  overflow: hidden;
  transition: 300ms;
  display: grid;
  grid-template-areas:
    "content"
    "button";
  grid-gap: 0;
  grid-template-rows: auto 45px;
}
.side-bar .blog-items .blog-item:nth-child(3) {
  display: none;
}
.side-bar .blog-items .blog-item:hover {
  box-shadow: -5px 5px 10px rgba(141, 182, 0, 0.3);
  transition-delay: 0ms;
}
.side-bar .blog-items .blog-item .blog-item-txt {
  padding: 1rem;
  display: flex;
}
.side-bar .blog-items .blog-item-txt h3 {
  color: #fdfdfd;
  font-size: 1.6rem;
  letter-spacing: 1px;
  align-self: flex-end;
}
.side-bar .blog-items .blog-item .blog-item-btn {
  margin: 0;
}
.side-bar .blog-items .blog-item .blog-item-btn button {
  background: #8db600;
  color: #fdfdfd;
  width: 100%;
  height: 45px;
  border: none;
  margin: 0;
  padding: 0.1rem 1rem;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: 700ms;
  grid-area: button;
}
.side-bar .blog-items .blog-item .blog-item-btn button:hover {
  background: #444;
}
.side-bar .blog-item-1 {
  background: #444;
  background: linear-gradient(180deg, rgba(68, 68, 68, 0) 60%, rgba(68, 68, 68, 1) 100%), url(../images/4468-Mallard-thumb.jpg) no-repeat top right/cover;
  width: 100%;
}
.side-bar .blog-item-2 {
  background: #444;
  background: linear-gradient(180deg, rgba(68, 68, 68, 0) 60%, rgba(68, 68, 68, 1) 100%), url(../images/60103-scotsman-thumb.jpg) no-repeat top left/cover;
}
.side-bar .blog-item-3 {
  background: #444;
  background: linear-gradient(180deg, rgba(68, 68, 68, 0) 60%, rgba(68, 68, 68, 1) 100%), url(../images/46233-duchess-thumb.jpg) no-repeat top right/cover;
}
